/** {
  margin: 0;
  color:#FFF;  Default Text colour 
  border: 1px solid white;
  }*/

body {

  background: black url('/images/background.gif');
  background-size: 100%;
  background-repeat: no-repeat;
  color: ivory;
  font-family: 'Dekko', serif;
  padding: 0px;
  margin: 0px;
}

#content {
  width: 820px ;
  padding:20px;
  margin-left: auto ;
  margin-right: auto ;
  background:#0F0F0F; 
  opacity: 0.8;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -khtml-border-radius: 30px;
  border-radius: 30px;
}

#menu {
  width: 750px ;
  margin-left: auto ;
  margin-right: auto ;
  position: center;
  text-align: center;
}

#head {
  color: lime;
  text-decoration: underline;
}

#header {
  width: 750px ;
  height: 100px;
  padding:20,0,0,0;
  margin-left: auto ;
  margin-right: auto ;
}

#image {
  padding:5px;
  margin:5px;
  border:2px solid #021a40;
  background-color:#fff;
  width: 121px;
  height: 101px;
  float: left;
}

#image2 {
  padding:5px;
  margin:5px;
  border:2px solid #021a40;
  background-color:#fff;
  width: 277px;
  height: 222px;
  float: left;
}

.floating-box {
  float: left;
  width: 350px;
  height: 130px;
  margin: 10px;
  border: 3px solid #73AD21;  
}

.floating-box2 {
  float: left;
  width: 300px;
  height: 450px;
  margin: 10px;
  border: 1px solid ivory;  
}

.floating-box3 {
  float: left;
  width: 400px;
  height: 450px;
  margin: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Dekko', cursive;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 1.8em;
  color: white;
  margin-bottom: 20px;
}

a, a:visited {
  color: ivory;
  text-decoration: none;
}

nav {
  padding: 0px;
  margin: 0px;
  padding-right: 25px;
}

main {
  padding: 25px;
}

td, th {
  /*text-align: left;*/
  column-width: 150;
}

td {
  padding: 5px 10px 0px 0px;
  font-family: 'Dekko', serif;
}

th {
  padding: 0px 10px 10px 0px;
  border-bottom: 1px solid ivory;
}
tr {
  align-content: right;
}

input[type="text"] {
width: 200px;
}
input[type="text2"] {
    width: 200px;
    height: 400px;
}

.flex {
  display: flex;
  align-content: center;
}

.flex--row {
  flex-direction: row;
  align-content: left;
}

.btn {
  background: #b3db30;
  background-image: -webkit-linear-gradient(top, #b3db30, #0a0901);
  background-image: -moz-linear-gradient(top, #b3db30, #0a0901);
  background-image: -ms-linear-gradient(top, #b3db30, #0a0901);
  background-image: -o-linear-gradient(top, #b3db30, #0a0901);
  background-image: linear-gradient(to bottom, #b3db30, #0a0901);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 3px 10px 3px 10px;
  text-decoration: none;
}

.btn:hover {
  background: #422e05;
  background-image: -webkit-linear-gradient(top, #422e05, #80bd06);
  background-image: -moz-linear-gradient(top, #422e05, #80bd06);
  background-image: -ms-linear-gradient(top, #422e05, #80bd06);
  background-image: -o-linear-gradient(top, #422e05, #80bd06);
  background-image: linear-gradient(to bottom, #422e05, #80bd06);
  text-decoration: none;
}

.list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 400px;
   height: 780px;
     content: "";
  opacity: 0.72;
  padding: 60px 0 0;
  border-top: 0 solid;
  border-right: 0 solid;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  border-left: 1px solid rgba(0,0,0,0.2);
  -webkit-border-radius: 0 10px 200px / 0 200px 14px 250px;
  border-radius: 0 10px 200px / 0 200px 14px 250px;
  font: normal 18px/1.3 "Dekko", Helvetica, sans-serif;
  color: rgba(255,0,106,0.58);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  background: -webkit-repeating-linear-gradient(-90deg, rgba(129,203,188,0.5) 0, rgba(129,203,188,0.5) 0.44%, rgba(0,0,0,0) 0.44%, rgba(0,0,0,0) 22%), -webkit-linear-gradient(-90deg, rgba(249,228,122,1) 0, rgba(248,252,242,1) 100%);
  background: -moz-repeating-linear-gradient(180deg, rgba(129,203,188,0.5) 0, rgba(129,203,188,0.5) 0.44%, rgba(0,0,0,0) 0.44%, rgba(0,0,0,0) 22%), -moz-linear-gradient(180deg, rgba(249,228,122,1) 0, rgba(248,252,242,1) 100%);
  background: repeating-linear-gradient(180deg, rgba(129,203,188,0.5) 0, rgba(129,203,188,0.5) 0.44%, rgba(0,0,0,0) 0.44%, rgba(0,0,0,0) 22%), linear-gradient(180deg, rgba(249,228,122,1) 0, rgba(248,252,242,1) 100%);
  background-position: 71px 50px, 100% 100%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: 0 0, 100% 100%;
  background-size: 0 0, 100% 100%;
  -webkit-box-shadow: -3px 5px 12px 0 rgba(0,0,0,0.1) ;
  box-shadow: -3px 5px 12px 0 rgba(0,0,0,0.1) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -webkit-transform: rotateZ(-18.907607239317166deg)   ;
  transform: rotateZ(-18.907607239317166deg)   ;
}

  .list::after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 30px;
  height: 30px;
  position: absolute;
  content: "";
  top: 9px;
  right: 0;
  left: 122px;
  border: none;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  font: normal medium/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: -webkit-radial-gradient(circle closest-side, rgba(25,119,196,1) 0, rgba(25,119,196,1) 4%, rgba(12,113,201,1) 77%, rgba(255,255,255,0) 89%, rgba(255,255,255,0) 100%), -webkit-radial-gradient(circle closest-side, rgba(0,0,0,0.4) 0, rgba(0,0,0,0.2) 81%, rgba(255,255,255,0) 92%, rgba(255,255,255,0) 100%), -webkit-radial-gradient(closest-side, rgba(64,150,238,1) 0, rgba(64,150,238,1) 100%), rgba(255,255,255,0.9);
  background: -moz-radial-gradient(circle closest-side, rgba(25,119,196,1) 0, rgba(25,119,196,1) 4%, rgba(12,113,201,1) 77%, rgba(255,255,255,0) 89%, rgba(255,255,255,0) 100%), -moz-radial-gradient(circle closest-side, rgba(0,0,0,0.4) 0, rgba(0,0,0,0.2) 81%, rgba(255,255,255,0) 92%, rgba(255,255,255,0) 100%), -moz-radial-gradient(closest-side, rgba(64,150,238,1) 0, rgba(64,150,238,1) 100%), rgba(255,255,255,0.9);
  background: radial-gradient(circle closest-side, rgba(25,119,196,1) 0, rgba(25,119,196,1) 4%, rgba(12,113,201,1) 77%, rgba(255,255,255,0) 89%, rgba(255,255,255,0) 100%), radial-gradient(circle closest-side, rgba(0,0,0,0.4) 0, rgba(0,0,0,0.2) 81%, rgba(255,255,255,0) 92%, rgba(255,255,255,0) 100%), radial-gradient(closest-side, rgba(64,150,238,1) 0, rgba(64,150,238,1) 100%), rgba(255,255,255,0.9);
  background-repeat: no-repeat;
  background-position: 96% -4%, 71% 43%, 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: 20px 20px, 20px 20px, auto auto;
  background-size: 20px 20px, 20px 20px, auto auto;
  -webkit-box-shadow: -4px 8px 5px 1px rgba(0,0,0,0.2) ;
  box-shadow: -4px 8px 5px 1px rgba(0,0,0,0.2) ;
  text-shadow: none;
}

form {
    width: 80%;
    margin: 0 auto;
    display: inline;
}

label, input {
    display: inline-block;
}

label {
    width: 30%;
    text-align: right;
}

label + input {
    width: 30%;
    margin: 0 30% 0 4%;
    align-self: right;
}

input + input {
    float: right;
}

/*table.reciept {
  margin-right: 30px;
}
table.reciept  td, th{
   
    text-align: right;
    column-width: 250;
  }
 table.reciept   td {
    padding: 5px 5px 0px 0px;
    font-family: 'Dekko', serif;
  }

 table.reciept   th {
    padding: 0px 5px 10px 0px;
    border-bottom: 1px solid ivory;
  }
  table.reciept   tr {
    align-content: right;
  }*/

}
#thanks {

  position: fixed;
  width: 500px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-top: -100px; /* Negative half of height. */
  margin-left: -250px; /* Negative half of width. */
}