<h2><p id="head"><%=@product.specie %></p> Price : - £<%=sprintf("%.2f",@product.price) %> </h2>
<hr>

<form action="/customers/<%=@product.id%>/custcheck" method="post">
<tr><td><label> Please enter your name:</label></td>
 <td><input type="text" name="name"></td>
</tr>


  <tr><td> </td>
  <td><input type="submit" value="Find Me"/></td></tr>
</form>
<br>
<hr>
