<h2>   Add a New Product</h2>

<table>
  <form action="/products" method="post">
    <tr><td><label> 
      Specie:
      <input type="text" name="specie" width="200" height="20">
    </label></td></tr>
    <tr><td><label> 
      Latin Name:
      <input type="text" name="latin_name" width="200" height="20">
    </label></td></tr>
    <tr><td><label> 
      Price:
      <input type="text" name="price" width="20" height="20">
    </label></td></tr>
    <tr><td><label> 
      Quantity in Stock:
      <input type="number" name="quantity" width="20" height="20">
    </label></td></tr>
    <tr><td><label> 
      Information for Customer:
      <input type="text2" name="comments" >
    </label></td></tr>

    <tr><td><input type="submit" value="Add New Product"/></td></tr>
  </form>
</table>

