<h2>Find your Basket</h2>
<hr>

<form action="/customers/custcheck" method="post">
<tr><td><label> Please enter your name:</label></td>
 <td><input type="text" name="name" required></td>
</tr>


  <tr><td> </td>
  <td><input type="submit" value="Find Me"/></td></tr>
</form>
<br>
<hr>
