<h2>   Add a New Customer</h2>
<hr>
<hr>

<table>
<form action="/customers" method="post">
  <tr><td><label> 
    Name:
    <input type="text" name="name">
  </label></td></tr>
  <tr><td><label> 
    Street:
    <input type="text" name="address_line_1">
  </label></td></tr>
  <tr><td><label> 
    Town:
    <input type="text" name="address_line_2">
  </label></td></tr>
  <tr><td><label> 
    Postcode:
    <input type="text" name="postcode">
  </label></td></tr>
  <tr><td><label> 
    Allowed Credit:
      <input type="number" name="funds">
    </label></td></tr>

  <tr><td><input type="submit" value="Add New Customer"/></td></tr>
</form>
</table>
<hr>
