<h2>...OOPPS looks like your not a member</h2>


<h3><p> Please fill in the details below and click on submit, member ship is free and you will be kept up to date with offers and special deals by email</p></h3>



<hr>
<table>
  <form action="/customers" method="post">
    <tr>
      <td><label> Name:</label></td>
      <td><input type="text" name="name" required></td>
    </tr>
    <tr>
      <td><label> Street:</label></td>
      <td><input type="text" name="address_line_1" required></td>
    </tr>
    <tr>
      <td><label> Town:</label></td>
      <td><input type="text" name="address_line_2" required/></td>
    </tr>
    <tr>
      <td><label> Postcode:</label></td>
      <td><input type="text" name="postcode" required></td>
    </tr>
    <tr>
      <td><label> Allowed Credit Limit:</label></td>
      <td>£ <input type="number" name="funds" value ="100" min="0" max="100"></td>
    </tr>
    <tr>
      <td><label> Email Address:</label></td>
      <td><input type="text" name="@ Email" required></td>
    </tr>
    <br>
    <tr>
      <td><label> Complete and Click --></label></td>
      <td><input type="submit" value="Add New Customer"/></td>
    </tr>
  </form>
</table>
<p>Once you have joined feel free to start shopping with your online account and collect in person when your ready.... or ask about our delivery service, its second to none !!</p>
<hr>

